@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles par défaut */
body {
  background-color: #ffffff; /* Fond blanc */
  color: #000000; /* Texte noir */
}

/* Styles par défaut du switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #7400a1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Styles pour le mode sombre */
body.dark-mode {
  background-color: #333333; /* Fond sombre */
  color: #ffffff; /* Texte clair */
}

.dark-mode .slider {
  background-color: #888;
}

.dark-mode input:checked + .slider {
  background-color: #444;
}

.dark-mode input:checked + .slider:before {
  background-color: #fff;
}

/* Styles pour l'icône de lune */
.moon-icon {
  position: absolute;
  left: 21%; /* Position de départ horizontale */
  top: 48%; /* Position de départ verticale */
  transform: translateY(-50%); /* Ajuster verticalement */
  font-size: 16px; /* Ajustez la taille de l'icône si nécessaire */
  color: #f0c420; /* Couleur de l'icône de lune */
  z-index: 1; /* Assurez-vous que l'icône est placée au-dessus du switch */
  transition: left 0.4s, background-color 0.4s; /* Animation */
}

input:checked + .slider ~ .moon-icon {
  left: 64%; /* Position finale horizontale */
}

input:checked + .slider ~ .moon-icon::before {
  background-color: #f0c420; /* Couleur de fond du cercle */
}


#menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  justify-items: center; /* Centre horizontalement les éléments dans la grille */
  align-items: center; /* Centre verticalement les éléments dans la grille */
}

button {
  padding: 1vw 2vw; /* Espacement interne des boutons */
  font-size: 3vw; /* Taille de la police */
  max-width: fit-content; /* Ajuste la largeur en fonction de la longueur du texte */
}

.submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid #ddd;
}

.submenu button {
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submenu button:hover {
  background-color: #f1f1f1;
}

/* Media Queries pour ajuster les styles en fonction de la taille de la fenêtre */
@media screen and (max-width: 768px) {
  #menu {
    grid-template-columns: repeat(1, 1fr);
  }
}